<component name="ArtifactManager">
  <artifact type="war" name="spring_browser:war">
    <output-path>$PROJECT_DIR$/spring_browser/target</output-path>
    <root id="archive" name="spring_security.war">
      <element id="artifact" artifact-name="spring_browser:war exploded" />
    </root>
  </artifact>
</component>